
.high {
	height: 100px;
	background-color: pink;
}
 
.highC {
	height: 100px;
	background-color: yellow;
}

body {
		/* background-color: white; */
	 	/*  background-image: url("/assets/images/favicon.png");   */
	 
}
#error-bar-home{
		display: none;	
		color:red;
}

.home-search-input-error-bar{ 
	height : 40px;
	//margin-left: 10%; 
	text-align:right;
}

.hide-element{
	display: none;	
}

.submitButtonPosition{
	float : right;	
}
 
.input-word{
			background-color: #EEE;
			border-radius: 8px;
			border: solid 1px #EEE;
			margin-bottom: 15px;
			width: 100% !important;
			height: 120px;
			font-size: x-large;
}
.target-word{
			background-color: #EEE;
			border-radius: 8px;
			border: solid 1px #EEE;
			width: 50% !important;
			//margin-left : 5%;
			height: 54px; 
}
#result{
	display: none;	
}
#all-senses{
	display: none;	
}
#result-other-words{
	display: none;
}
#word-senses .meaning-of-a-sense{	
	color : black;
}
#word-senses .example-of-a-sense{
	color : #088A85;
	margin-left:5%;
}

.result-sense{
			background-color: #EEE;
			border-radius: 8px;
			border: solid 1px #EEE;
			margin-bottom: 15px;
			width: 100% !important;
			height: 80px;			
			font-size: x-large;
}		
.submit-wrapper BUTTON{
			height: 54px;
			width: 80%;
			float: right;
			/*
			border-top-left-radius: 0;
			border-bottom-left-radius: 0; */
			text-transform: uppercase;
}
.input-box{
			//margin-top: 10%;
			margin-left : 10%;
			margin-right: 10%;
			//background-color : yellow;
}
.input-box table{
			width : 100%;
}
.text-wrapper{
			//margin-left : 10%;
}
.result-wrapper{
			//margin-left : 10%;
			border-top: solid 1px #DFDFDF;	
			padding-top:2%;
}
#other-words-list{
	  margin-bottom: 15px;
}

.result-topic{
	padding: 0 0 1% 0 ;	
	color:#DF7401;
}
		
#aruth-logo A{
			text-indent: -999px;
			overflow: hidden;
			width: 400px;
			height: 150px;
			display: block;
			background: url('../images/aruth-logo.png');
			background-image: url('../images/aruth-logo.png');
			background-repeat: no-repeat;
			background-size: contain;
			max-width: 100%;
			//margin-left : 10%;
}
 
#aruth-logo A:hover{ 
			background: url('../images/aruth-logo-glow.png');
			background-image: url('../images/aruth-logo-glow.png'); 
}	
#description{	
	margin-left: 20%;
  	width: 700px; 
  	height: 100px; 
  	position: absolute;
  	text-align: center;
}
.description-link{
	text-decoration: none;
 	color: #04B4AE;	
}
 
#description P{ 
  	height: 100px;  
  	vertical-align: middle;
  	display: table-cell;
}
#uom-logo{
	border-left: solid 1px #DFDFDF;	
	margin-left: 90%;
  	width: 100px;
  	position: absolute;
}
#uom-logo A{
			text-indent: -999px;
			overflow: hidden;
			width: 100px;
			height: 100px;
			display: block;
			background: url('../images/uom-logo.png');
			background-image: url('../images/uom-logo.png');
			background-repeat: no-repeat;
			background-size: contain;			
			margin-left : 10%; 			
}

#cse-logo{
	border-left: solid 1px #DFDFDF;	
	margin-left: 80%;
  	width: 100px;  
  	position: absolute;
}
		
#cse-logo A{
			text-indent: -999px;
			overflow: hidden;
			width: 100px;
			min-height: 75px; 
			display: block;
			background: url('../images/cse-logo.jpg');
			background-image: url('../images/cse-logo.jpg');
			background-repeat: no-repeat;
			background-size: contain;			
			margin-left : 10%; 
			display: block;  			
}	


#cse-logo h1{
	padding-top: 25%;
}
.search-btn{
			border-radius : 10px;
			background-color : #13a89e;
			border-color : transparent;
			color : white;
			outline:0; 
}
#mySubmit:hover{ 
			background-color : #088A85; 
}

#super-container{ 
	height : 100%; 
	width : 100%;
	/* background-image: url('../images/alph.png')  ; */
	/* background-repeat: no-repeat; */
	/* background-size: contain; */	
	/* -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover; */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

#container{ 
	min-height : 70%;
	height: auto;
	margin: auto;
}
 
#header{
	margin : 0px 6% 0px 6%;
	padding-right : 5%;
	height : 10%;
	background-color :transparent;
	border-bottom: solid 1px #DFDFDF;	
}

#footer {
    height: 15%;  
    background-color :transparent; 
    postition : relative;
}



.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
}
		
.box-album{
			width : 200px;
			height : 150px;
}
 