
.high {
	height: 100px;
	background-color: pink;
}
 
.highC {
	height: 100px;
	background-color: yellow;
}

body {
		/* background-color: white; */
	 	/* background-image: url("/assets/images/favicon.png");  */
	 
}

.submitButtonPosition{
	float : right;	
}
 