<style>
.about-us-div{
	margin-left:10%; 
	margin-right:10%; 
	padding-top:2%;
}
.member-div{
	padding-top:2%;
	//background-color:yellow;
}
.separator{
	padding-top:1%;
	border-bottom: solid 1px #DFDFDF;	
	padding-bottom:1%;
}
.about-us-table{
	width:100%;
}
.about-us-table td{ 
	height : 150px;
	//background-color: red;
}
.picture{
	width : 10%;
	height : 150px;
	//background-color:green;  
}
.details{
	width : 35%;
	height : 150px;
	//background-color:green; 
}
.picture-div{
	width:100%;
	height:100%;
	//background-color:green; 
	border-radius:50% 50% 50% 50%;
}
.pro-pic{
	width:100%;
	height:100%;
	border-radius:50% 50% 50% 50%;
}
.details-div{
	width:100%;
	height:75%;
	//background-color:pink; 
}
.links-div{
	width:100%;
	height:25%;
	//background-color:black; 
}
.pro-name{
	font-size: 20px;
	padding-left: 5px;
}
.pro-mail{
	font-size: 15px;
	margin-top:5px;
	margin-left:1px;
	height:30px;
	padding-left:5px;
}
.pro-name-sup{
	font-size: 30px;
	padding-left: 5px;
}
.pro-mail-sup{
	font-size: 20px;
	margin-top:5px;
	margin-left:1px;
	height:30px;
	padding-left:5px;
}
.pro-details-sup{
	padding-left:5px;
	font-size: 20px;
}
.developer{
	font-size: 15px;
}
.pro-details{
	padding-left:5px;
	font-size: 15px;
}
.box-social{
	width : 30px;
	height : 30px;
}
.social-pic{
	height:100% !important;
}
.social-icons{
	float : right;
}
.about-aruth-description{
	//padding-top:2%;
	margin-top:auto;
	//margin-right:10%;
}
.problem-statement{
	//padding-top:2%;
	margin-top:auto;
	//margin-right:10%;
}
.level-one-title-div{
margin-top : 2%;
	margin-right:10%;
	margin-bottom : 2%;
	font-size: 20px;
	color : #0B614B;
}
.research-team-title{
	margin-right:10%;
	margin-top : 2%;
	margin-bottom : 2%;
	font-size: 20px;
	color : #0B614B;
} 
.project-details-table{
	width:100%
}
.project-details-table td{
	width:50%
}
.level-one-title{
	font-size: 17px;
	color : #04B486;
}
</style>

<div class = "about-us-div">

<div class ="level-one-title-div" >
		 <span>About Vijaya</span>
</div>
<div class= "about-aruth-description">
		<span>Vijaya is a final year research group of Department of Computer Science and Engineering ,University of Moratuwa.
		 Under the supervision of Dr. Daya Wimalasuriya this team is focusing there research in the area of Natural Language Processing.
		</span>
</div>
<div class = "separator"></div>
<div class ="level-one-title-div" >
		 <span>About Project Aruth</span>
</div> 
<div class= "problem-statement">
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Problem Statement</span>
		</div>
		<span>The ambiguity of a word leads to confusion, especially for computers. Sinhala has a wide range
		 of words which have multiple meanings in different contexts. These are called polysemous words. These 
		 polysemous words cause problems to tasks such as translating from Sinhala to another language and summarizing texts.
		  A tool is needed to identify the correct sense of a polysemous word in a given context.
		</span>
		<div style="margin-top:1%;"><span>Ex:  ඇයට කෑම පිසින්න පුලුවන්</span></div>
		<div  style="margin-top:1%;"><span>The word “පිසින්න” has several senses such as “cook” and “wipe”.Therefore it can be translated to
		“She can cook food” or “She can wipe food”. 
		The problem is to correctly identify “cook” as the sense meant in the context.  </span></div>
		
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Objectives</span>
		</div>
		<span>To identify the Word Sense Disambiguation technique most suitable for Sinhala and to create a tool using 
		that technique to identify the correct sense of an ambiguous Sinhala word in a given context with high accuracy.
		</span>
		
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Project Overview</span>
		</div>
		<span>Word Sense Disambiguation (WSD) is an open problem in natural language processing and ontology, which governs the process of identifying which sense of a polysemous word (i.e. meaning) is used in a sentence.
		Number of researches have been carried throughout decades and now English has a fairly good WSD methodologies. Some of them are dictionary based methods that use the knowledge about the words encoded in those lexical resources.  
		Corpus-based WSD methods are another area of research. </br>
		At the moment, Sinhala language doesn’t have a tool for WSD. But there is a Sinhala WordNet which is a lexical dataset for 
		Sinhala language. It groups Sinhala words into synonyms and provide definitions and has several semantic relations between 
		those synonyms set. Sinhala WordNet, a machine readable dictionary, can be used as the data source to a Sinhala WSD tool.
		</span>
		
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">WSD Techniques Identified So Far</span>
		</div>
		<span>WSD algorithms can be classified under rule-based algorithms and machine learning algorithms. Some of 
		the WSD techniques published by various researchers are listed down below.                                                                                                        
		</span>
		</br></br>
		<span>Rule-based Algorithms</span></br></br>
		<ul>
			 <li>Lesk Algorithm </li>
			 <li>Simplified Lesk Algorithm</li>
			 <li>Selectional Preference</li>
			 <li>Semantic Similarity (Contextual Semantic Relatedness)</li>
			 <li>Lexical Chains</li>
			 <li>Heuristic based approaches</li>
		</ul>  
		</br></br>
		<span>Machine Learning Algorithms</span></br></br>
		<ul>
			 <li>Naive Bayesian Classifier</li>
			 <li>Neural Networks [Leacock]</li>
			 <li>Decision Tree/List Learners</li>			 
		</ul>
		
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Importance of a WSD Techniques for Sinhala Language</span>
		</div>
		<span>Proper word sense disambiguation for Sinhala is important for many NLP applications and it opens paths to ,</span></br></br>
		<ul>
			 <li>Accurate translation from Sinhala to other languages</li>
			 <li>Create proper search methodologies for internet surfing for Sinhala resources</li>
			 <li>Text summarization</li>	
			 <li>Better information retrieval systems for Sinhala</li>
			 <li>Word processing and spell checking</li>
			 <li>Content analysis</li>
			 <li>Information extraction</li>
			 <li>Text to Speech translation</li>			 		 
		</ul>
</div>
<div class = "separator"></div>
<div class ="research-team-title" >
		 <span>Research Team</span>
</div>
<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/daya.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name-sup">Dr. Daya Chinthana Wimalasuriya - <span class="developer">Supervisor</span></span></div>
						<div><span class="pro-details-sup">Lecturer</span></div>
						<div><span class="pro-details-sup">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details-sup">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail-sup">chinthana@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table>
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td>  
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/jadu.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Janindu Arukgoda - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">janindu.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/vidudaya.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Vidudaya Neranjan Bandara - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">vidudaya.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/sami.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Samiththa Bashani - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">samiththa.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/vijja.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Vijayindu Gamage - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">vijayindu.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
			</tr>
		</table>
	</div> 
	<div class = "separator"></div>
	 
</div>