<style>
.about-us-div{
	margin-left:10%; 
	margin-right:10%; 
	padding-top:2%;
}
.member-div{
	padding-top:2%;
	background-color:yellow;
}
.separator{
	padding-top:1%;
	border-bottom: solid 1px #DFDFDF;	
	padding-bottom:1%;
}
.about-us-table{
	width:100%;
}
.about-us-table td{ 
	height : 150px;
	background-color: red;
}
.picture{
	width : 20%;
	height : 150px;
	background-color:green;  
}
.details{
	width : 70%;
	height : 150px;
	background-color:green; 
}
.picture-div{
	width:100%;
	height:100%;
	background-color:green; 
}
.pro-pic{
	width:100%;
	height:100%;
}
.details-div{
	width:100%;
	height:80%;
	background-color:pink; 
}
.links-div{
	width:100%;
	height:20%;
	background-color:black; 
}
.pro-name{
	font-size: 30px;
}
.pro-mail{
	font-size: 20px;
	margin-left:5px;
}
.developer{
	font-size: 20px;
}
</style>

<div class = "about-us-div">
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/albumPaperOne/p_1.jpg")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Vidudaya Neranjan Bandara - <span class="developer">Developer</span></span></div>
						<div><span class="pro-mail">vidudaya.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
					</div>
				</td> 
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>