<style>
.about-us-div{
	margin-left:10%; 
	margin-right:10%; 
	padding-top:2%;
}
.member-div{
	padding-top:2%;
	background-color:yellow;
}
.separator{
	padding-top:1%;
	border-bottom: solid 1px #DFDFDF;	
	padding-bottom:1%;
}
.about-us-table{
	width:100%;
}
.about-us-table td{ 
	height : 150px;
	background-color: red;
}
.picture{
	width : 10%;
	height : 150px;
	background-color:green;  
}
.details{
	width : 35%;
	height : 150px;
	background-color:green; 
}
.picture-div{
	width:100%;
	height:100%;
	background-color:green; 
	border-radius:50% 50% 50% 50%;
}
.pro-pic{
	width:100%;
	height:100%;
	border-radius:50% 50% 50% 50%;
}
.details-div{
	width:100%;
	height:75%;
	background-color:pink; 
}
.links-div{
	width:100%;
	height:25%;
	background-color:black; 
}
.pro-name{
	font-size: 20px;
	padding-left: 5px;
}
.pro-mail{
	font-size: 15px;
	margin-top:5px;
	margin-left:1px;
	height:30px;
	padding-left:5px;
}
.pro-name-sup{
	font-size: 30px;
	padding-left: 5px;
}
.pro-mail-sup{
	font-size: 20px;
	margin-top:5px;
	margin-left:1px;
	height:30px;
	padding-left:5px;
}
.pro-details-sup{
	padding-left:5px;
	font-size: 20px;
}
.developer{
	font-size: 15px;
}
.pro-details{
	padding-left:5px;
	font-size: 15px;
}
.box-social{
	width : 30px;
	height : 30px;
}
.social-pic{
	height:100% !important;
}
.social-icons{
	float : right;
}
.about-aruth-description{
	padding-top:2%;
	margin-top:auto;
	//margin-right:10%;
}
.problem-statement{
	//padding-top:2%;
	margin-top:auto;
	//margin-right:10%;
}
.level-one-title-div{
margin-top : 2%;
	margin-right:10%;
	margin-bottom : 2%;
	font-size: 20px;
}
.research-team-title{
	margin-right:10%;
	margin-top : 2%;
	margin-bottom : 2%;
	font-size: 20px;
} 
.project-details-table{
	width:100%
}
.project-details-table td{
	width:50%
}
.level-one-title{
	font-size: 17px;
}
</style>

<div class = "about-us-div">

<div class ="level-one-title-div" >
		 <span>About Vijaya</span>
</div>
<div class= "about-aruth-description">
		<span>Word sense disambiguation is the task of identifying the  implied  sense  of  a  polysemous  word  in  a  given  context. There  have  been  many  efforts  on  word  sense  disambiguation for English,  but  the amount of efforts for Sinhala is very little. 
		This paper presents ongoing efforts on developing a rule based word  sense  disambiguation  algorithm  using  the 
		 Sinhala WordNet developed at University of Moratuwa as a basis. This is the first attempt on building such an 
		</span>
</div>
<div class = "separator"></div>
<div class ="level-one-title-div" >
		 <span>About Project Aruth</span>
</div> 
<div class= "problem-statement">
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Problem Statement</span>
		</div>
		<span>The ambiguity of a word leads to confusion, especially for computers. Sinhala has a wide range
		 of words which have multiple meanings in different contexts. These are called polysemous words. These 
		 polysemous words cause problems to tasks such as translating from Sinhala to another language and summarizing texts.
		  A tool is needed to identify the correct sense of a polysemous word in a given context.
		</span>
		<div style="margin-top:1%;"><span>Ex:  ඇයට කෑම පිසින්න පුලුවන්</span></div>
		<div  style="margin-top:1%;"><span>The word “පිසින්න” has several senses such as “cook” and “wipe”.Therefore it can be translated to
		“She can cook food” or “She can wipe food”. 
		The problem is to correctly identify “cook” as the sense meant in the context.  </span></div>
		
		<div class ="level-one-title-div" >
		 	<span class ="level-one-title">Problem Statement</span>
		</div>
</div>
<div class = "separator"></div>
<div class ="research-team-title" >
		 <span>Research Team</span>
</div>
<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/p_1.png")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name-sup">Dr. Daya Chinthana Wimalasuriya - <span class="developer">Supervisor</span></span></div>
						<div><span class="pro-details-sup">Lecturer</span></div>
						<div><span class="pro-details-sup">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details-sup">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail-sup">chinthana@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table>
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td>  
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/p_1.png")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Janindu Arukgoda - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">janindu.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/p_1.png")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Vidudaya Neranjan Bandara - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">vidudaya.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
			</tr>
		</table>
	</div>
	<div class = "separator"></div>
	<div class="member-div">
		<table class="about-us-table">
			<tr>
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/p_1.png")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Samiththa Bashani - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">samiththa.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
				<td class="picture">
					<div class="picture-div">
						<img class = "pro-pic" src="@routes.Assets.at("images/profilePhotos/p_1.png")" alt="" />
					</div>
				</td> 
				<td class="details">
					<div class="details-div">
						<div><span class="pro-name">Vijayindu Gamage - <span class="developer">Developer</span></span></div>
						<div><span class="pro-details">Undergraduate</span></div>
						<div><span class="pro-details">Department of Computer Science and Engineering</span></div>
						<div><span class="pro-details">University of Moratuwa</span></div>
						<div style="margin-top:5px;"><span class="pro-mail">vidudaya.10@@cse.mrt.ac.lk</span></div>
					</div>
					<div class="links-div">
						<table class="social-icons">
							<tr>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
								<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
							</tr>
						</table>
					</div>
				</td> 
			</tr>
		</table>
	</div> 
	<div class = "separator"></div>
	 
</div>