 


<div class = "album">
	<p>
		<a class="fancybox box" href="@routes.Assets.at("images/albumPaperOne/p_1.jpg")" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img class = "box" src="@routes.Assets.at("images/albumPaperOne/p_1.jpg")" alt="" /></a>

		<a class="fancybox box" href="@routes.Assets.at("images/albumPaperOne/p_2.jpg")" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img class = "box" src="@routes.Assets.at("images/albumPaperOne/p_2.jpg")" alt="" /></a>

		<a class="fancybox box" href="@routes.Assets.at("images/albumPaperOne/p_3.jpg")" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img class = "box" src="@routes.Assets.at("images/albumPaperOne/p_3.jpg")" alt="" /></a>

		<a class="fancybox box" href="@routes.Assets.at("images/albumPaperOne/p_4.jpg")" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img class = "box" src="@routes.Assets.at("images/albumPaperOne/p_4.jpg")" alt="" /></a>
	</p>
</div>