<script type="text/javascript">
		$(document).ready(function() { 
			$('.fancybox').fancybox(); 
		});
</script>
<div class = "album">
	<p>
		<a class="fancybox box-album" href="@routes.Assets.at("images/albumPaperOne/p_1.jpg")" data-fancybox-group="gallery" title="4th International Conference on Artificial Intelligence and Applications in Engineering and Technology - Malaysia, Kota Kinabalu"><img class = "box-album" src="@routes.Assets.at("images/albumPaperOne/p_1.jpg")" alt="" /></a>

		<a class="fancybox box-album" href="@routes.Assets.at("images/albumPaperOne/p_2.jpg")" data-fancybox-group="gallery" title="4th International Conference on Artificial Intelligence and Applications in Engineering and Technology - Malaysia, Kota Kinabalu"><img class = "box-album" src="@routes.Assets.at("images/albumPaperOne/p_2.jpg")" alt="" /></a>

		<a class="fancybox box-album" href="@routes.Assets.at("images/albumPaperOne/p_3.jpg")" data-fancybox-group="gallery" title="4th International Conference on Artificial Intelligence and Applications in Engineering and Technology - Malaysia, Kota Kinabalu"><img class = "box-album" src="@routes.Assets.at("images/albumPaperOne/p_3.jpg")" alt="" /></a>

		<a class="fancybox box-album" href="@routes.Assets.at("images/albumPaperOne/p_4.jpg")" data-fancybox-group="gallery" title="4th International Conference on Artificial Intelligence and Applications in Engineering and Technology - Malaysia, Kota Kinabalu"><img class = "box-album" src="@routes.Assets.at("images/albumPaperOne/p_4.jpg")" alt="" /></a>
	</p>
</div>