<style>
<!--
.contact-us-div{
	margin-left:10%; 
	margin-right:10%; 
	padding-top:2%;
}

.member-div{
	padding-top:2%;
	background-color:yellow;
	height : 150px;
}

.contact-us-table{
	width:100%;
	height:100%;
}
.contact-us-table td{ 
	height : 150px;
	background-color: #01DFD7;
}
.separator{
	padding-top:10%;
	border-bottom: solid 10px #DFDFDF;	
	padding-bottom:10%;
}
-->
</style>

<div class="contact-us-div">
<table class="contact-us-table">
	<tr>
		<td>
			<div class="member-div">Address:<br> University of Moratuwa <br> Moratuwa<br> SriLanka </div>
			<div class = "separator"></div>
			<div style="margin-top:5px;"><span class="pro-mail-sup">swsd@@cse.mrt.ac.lk</span></div>
			<div class = "separator"></div>
			<div class="member-div">Telephone no:0713269771</div>
		
		</td>
		<td>
			<div class="map" align= "right"><iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Silicon+Valley,+United+States&aq=3&oq=sillicon+&sll=15.794298,105.910455&sspn=28.809181,53.569336&ie=UTF8&hq=&hnear=Silicon+Valley&ll=37.362517,-122.03476&spn=0.04693,0.104628&t=m&z=14&iwloc=A&output=embed"></iframe></div> 
 			<!-- <div class="map" align= "right"><iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.lk/maps/place/University+of+Moratuwa/@@6.796877,79.901778,17z/data=!3m1!4b1!4m2!3m1!1s0x3ae245416b7f34b5:0x7bd32721ab02560e"></iframe></div> --> 
 		</td>
	</tr>
</table>
</div>