

<script>
 	$(document).ready(function() { 
			initialize(); 
	});
	function initialize() {
		var myLatlng = new google.maps.LatLng(6.796877,79.901778);
		var mapProp = {
			center:myLatlng,
			zoom:15,
			map: map,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
		  
		var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title:"UoM"
		});	
	} 
</script>
<style>

.contact-us-div{
	margin-left:10%; 
	margin-right:10%; 
	padding-top:2%;
}

.member-div{
	padding-top:2%;
	background-color:yellow;
	height : 150px;
}

.contact-us-table{
	width:100%;
	height:100%;
}
.contact-us-table td{ 
	height : 150px;
	background-color: #01DFD7;
}
.separator-contact-us{
	padding-top:10%;
	border-bottom: solid 10px #DFDFDF;	
	padding-bottom:10%;
}
.links-div{
	width:100%;
	background-color:black; 
}
.box-social{
	width : 30px;
	height : 30px;
}
.social-pic{
	height:100% !important;
}
 #map-canvas {
        width: 500px;
        height: 400px;
      }

</style>


<div class="contact-us-div">
	<table class="contact-us-table">
		<tr>
			<td>
				<div class="member-div">Address:<br> University of Moratuwa <br> Moratuwa<br> SriLanka </div>
				<div class = "separator"></div>
				<div style="margin-top:5px;"><span class="pro-mail-sup">swsd@@cse.mrt.ac.lk</span></div>
				<div class = "separator"></div>
				<div class="member-div">Telephone no:1111111111</div>
				<div class="links-div">
								<table>
									<tr>
										<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/facebook.png")" alt="" /></a></td>
										<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/google.png")" alt="" /></a></td>
										<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/linkedin.png")" alt="" /></a></td>
										<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/twitter.png")" alt="" /></a></td>
										<td class="social-pic"><a href="http://www.cse.mrt.ac.lk/"><img class = "box-social" src="@routes.Assets.at("images/social/skype.png")" alt="" /></a></td>
									</tr>
								</table>
							</div>
			
			</td>
			<td>
				<!--  <div class="map" align= "right"><iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Silicon+Valley,+United+States&aq=3&oq=sillicon+&sll=15.794298,105.910455&sspn=28.809181,53.569336&ie=UTF8&hq=&hnear=Silicon+Valley&ll=6.7964,79.9008&spn=0.04693,0.104628&t=m&z=14&iwloc=A&output=embed"></iframe></div>--> 
				<div id="googleMap" style="width:500px;height:380px;float:right;"></div>
			</td>
		</tr>	
	</table>
</div>