<div id="description">
	<p>Aruth is a tool for Sinhala word sense disambiguation. This is a research project carried out by the <a href="http://www.cse.mrt.ac.lk/" class="description-link" target="_blank">Department of Computer Science and Engineering</a>  , <a href="http://www.mrt.ac.lk/" class="description-link" target="_blank" >University of Moratuwa</a> , Sri Lanka.</p>
</div>
<div id="uom-logo" >
	<h1><a href="http://www.mrt.ac.lk/" class="center-logo" target="_blank">Aruth</a></h1>
</div>
<div id="cse-logo" >
	<h1><a href="http://www.cse.mrt.ac.lk/" class="center-logo" target="_blank">Aruth</a></h1>
</div>