<style>
	#header-table {
		color : red;
		float : right;
		width : 100%;
	}
	#header-table td {
		color : red;
		float : right;
		min-width : 10%;
		text-align: center;
	}
	 
	#header-div{
		 
	}
	.search-btn-header{
			border-radius : 10px;
			//background-color : transparent;
			background-color : #01DFD7;
			border-color : transparent;
			color : black;
	}
	.btn-header-hover:hover{ 
				background-color : #13a89e; 
	}
	.submit-wrapper-header BUTTON{
			height: 30px;
			min-width: 80%;
			//float: right;
			/*
			border-top-left-radius: 0;
			border-bottom-left-radius: 0; */
			text-transform: uppercase;
	}
	.submit-wrapper-header{
		padding-top:15px;
	}
</style>

<script>
	function loadPage(page){ 
		if (page == "publications"){ 
			$( "#container" ).load("/publications");
		} else if (page == "home"){ 
			$( "#container" ).load("/home");
		}
	}
</script>

<div id = "header-div">
	<table id = "header-table">
	  <tr>
	  	<td>
	     		<div class="submit-wrapper-header">
						<button type="submit" id="btn3" class="search-btn-header btn-header-hover">Contact Us</button>
				</div>
		 </td>
		 <td>
	     		<div class="submit-wrapper-header">
						<button type="submit" id="btn2" class="search-btn-header btn-header-hover">About Us</button>
				</div>
		 </td>
		 <td>
	     		<div class="submit-wrapper-header">
						<button type="submit" id="btn2" class="search-btn-header btn-header-hover" onClick="loadPage('publications');">Publications</button>
				</div>
		 </td>
	     <td>
				<div class="submit-wrapper-header">
						<button type="submit" id="btn1" class="search-btn-header btn-header-hover" onClick="loadPage('home');">Home</button>
				</div> 
 		 </td>
 		 
	     
	     
	  </tr>
	</table> 
</div>