<!-- This is the view to  get the user inputs from the browser - need to make it neat -->
<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/styles.css")"  type="text/css">
		<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/inputHandle.js")" type="text/javascript"></script>	
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.fancybox.css?v=2.1.5")"  type="text/css">
		<script src="@routes.Assets.at("javascripts/jquery.fancybox.js?v=2.1.5")" type="text/javascript"></script>
  	
	</head>
	<body> 
		
		<div id = "super-container">
			<div id="header">
				@header()
			</div>  
			<div id = "container">
				@home()
				<!-- @aboutUs() -->
			</div>  
			<div id="footer" >
				@footer()
			</div>
		</div>
	</body>

</html>
